<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booky Search</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<style>
    .match {
        background-color: rgb(251, 251, 96)
    }
    
    #slider {
        margin: 10px;
        width: 250px;
    }
    
    .ui-widget-header {
        background: blue !important
    }
</style>

<body>
    <h1>Booky Contacts</h1>

    <div class="contents">
        <div class="filters">
            <h3>Filter By</h3>
            <div>
                <label>Search first name, last name or email</label>
                <input id="filterText" type="text">

            </div>
            <div class="sex">
                <label>Sex</label>

                <input id="maleCheckbox" value="" name="gender" type="radio">Any</input>
                <input id="maleCheckbox" value="m" name="gender" type="radio">Male</input>
                <input id="femaleCheckbox" value="f" name="gender" type="radio">Female</input>

            </div>
            <div class="age">
                <!-- <input id="ageRange" type="range" name="" min="" max=""> -->
                <div>
                    Age range: <span id="minAge"> any</span> - <span id="maxAge">any</span> &nbsp; <input id="ageRangeCheckBox" type="checkbox">Enable
                    <div id="slider"></div>
                </div>
            </div>
        </div>
        <div>
            <button id="filterBtn" class="filterBtn">Filter</button>
            <button id="downloadFilter" class="downloadFilter">Download</button>
        </div>


        <!-- Find all data in database and display in the div -->
        <div class="filterResults">
            <h3>Filtered Results</h3>
            <table id="queryTable">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Sex</th>
                    <th>Age</th>
                </tr>
                <tbody id="tbody">
                    <%contact.forEach(function(query){ %>
                        <tr id="queryRow">
                            <td>
                                <%= query.fName %>
                            </td>
                            <td>
                                <%= query.lName %>
                            </td>
                            <td>
                                <%= query.email %>
                            </td>
                            <td>
                                <%= query.phoneNum %>
                            </td>
                            <td>
                                <%= query.sex %>
                            </td>
                            <td>
                                <%= query.age %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    $("document").ready(function() {
        $("#ageRangeCheckBox").change(function() {
            if (this.checked) {
                $("#slider").slider("option", "disabled", false);
            } else {
                $("#slider").slider("option", "disabled", true);
            }
        })
        $('input[name ="gender"]').change(function() {
            performSearch()
        })
        $("#slider").slider({
            range: true,
            min: 0,
            max: 100,
            disabled: true,
            change: function(event, ui) {
                $("#minAge").html(ui.values[0])
                $("#maxAge").html(ui.values[1])
                performSearch()
            }
        });

        $("#slider").slider("option", "values", [25, 65]);

        $("#filterBtn").click(function() {
            performSearch()
        })

    })

    const url = "http://localhost:3000/searchAll";
    const newArray = []

    let filterText = document.getElementById("filterText");
    let male = document.getElementById("maleCheckbox");
    let female = document.getElementById("femaleCheckbox");
    let ageRange = document.getElementById("ageRange");
    let filterBtn = document.getElementById("filterBtn");
    let downloadBtn = document.getElementById("downloadFilter");
    let tbody = document.getElementById("tbody")

    filterText.addEventListener("keyup", function() {
        performSearch()
    })
    filterText.addEventListener("keyup", function() {
        performSearch()
    })
    filterText.addEventListener("keyup", function() {
        performSearch()
    })


    const performSearch = function() {
        let sex = ""
        $('input[name ="gender"]').each(function() {
            if (this.checked) {
                sex = this.value
            }
        })
        let ageRange = $("#slider").slider("option", "values");
        if ($("#slider").slider("option", "disabled")) {
            ageRange = ["", ""]
        }

        const newUrl = url + `?q=${filterText.value}&sex=${sex}&minAge=${ageRange[0]}&maxAge=${ageRange[1]}`
        fetch(newUrl)
            .then(response => {
                if (response.ok) {
                    return response;
                }
                throw Error(response.statusText);
            })
            .then(response => response.json())
            .then(data => {
                let rows = ""
                data.forEach(element => {

                    const row = `
                <tr>
                    <td> ${(highlightMatches(element.fName, filterText.value))}</td>
                    <td> ${highlightMatches(element.lName, filterText.value)}</td>
                    <td> ${highlightMatches(element.email,filterText.value)}</td>
                    <td> ${highlightMatches(element.phoneNum,filterText.value)}</td>
                    <td> ${highlightMatches(element.sex,filterText.value)}</td>
                    <td> ${highlightMatches(element.age,filterText.value)}</td>
                </tr>
                `
                    rows += row

                })
                tbody.innerHTML = rows;
            })
    }
    const highlightMatches = function(str, query) {
        if (!str || !query) {
            return str
        }
        str = str.toString()
        let index = str.indexOf(query)
        if (index < 0) {
            return str
        }
        let firstPart = str.substr(0, index)
        let middlePart = `<span class='match'>${query}</span>`
        let endPart = str.substr(index + query.length)
        return firstPart + middlePart + endPart
    }
</script>

</html>