<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <h1>Booky Contacts</h1>
        <div class="container-fluid">
        <div class="row contents">
            <div class="col-md-3 filters">
                <h3>Filter By</h3>
                    <div class="form-group">                     
                        <input id="filterText" class="form-control" type="text" placeholder="Search first name, last name or email">     
                    </div>
                    <div class="sex">

                        <fieldset class="form-group border p-2">
                            <label><strong>Sex</strong></label>
                            <div class="form-check">
                                <input id="anyCheckbox" class="form-check-input" value="" name="gender" type="radio">
                                <label for="anyChekcbox" class="form-check-label">Any</label>
                            </div>
                            <div class="form-check">
                                <input id="maleCheckbox" class="form-check-input" value="m" name="gender" type="radio">
                                <label for="maleChekcbox" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check">
                                <input id="anyCheckbox" class="form-check-input" value="f" name="gender" type="radio">
                                <label for="femaleChekcbox" class="form-check-label">Female</label>
                            </div>
                        </fieldset>
        
                    </div>
                    <div class="age">
                        <!-- <input id="ageRange" type="range" name="" min="" max=""> -->
                        <div class="form-group">
                            <fieldset class="border p-2">
                                <label for=""><strong>Age range: </strong> <span id="minAge"> any</span> - <span id="maxAge">any</span> &nbsp;</label>
                            <div id="checkbox" class="form-check">
                                <input id="ageRangeCheckBox" class="form-check-input" type="checkbox">
                                <label for="ageRangeCheckBox" class="form-check-labeld">Enable</label>
                            </div>
                            <div id="slider"></div>
                            </fieldset>
                        </div>
                    </div>
                    <div>
                        <button id="filterBtn" class="filterBtn btn btn-primary">Filter</button>
                        <button id="downloadFilter" class="downloadFilter btn btn-outline-dark">Download</button>
                    </div>
            </div>
            
    
    
            <!-- Find all data in database and display in the div -->
            <div class="col-md-9 filterResults">
                <h3>Filtered Results</h3>
                <div class="table-div">
                    <table id="queryTable" class="table table-condensed table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Sex</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody id="tbody" class="data-table"> 
                            <%contact.forEach(function(query){ %>
                                <tr id="queryRow">
                                    <td>
                                        <%= query.fName %>
                                    </td>
                                    <td>
                                        <%= query.lName %>
                                    </td>
                                    <td>
                                        <%= query.email %>
                                    </td>
                                    <td>
                                        <%= query.phoneNum %>
                                    </td>
                                    <td>
                                        <%= query.sex %>
                                    </td>
                                    <td>
                                        <%= query.age %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="mt-2 d-flex justify-content-between">
                    <div class="">
                        <button id="firstPage" class="btn btn-outline-dark"><i class="fas fa-step-backward"></i></button>
                        <button id="previousPage" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></button>
                        page <input id="pageNumber" class="" min="1" max=<%=totalPages%> class="page-number-input" type="number" value="1"/> of <%=totalPages%>
                        <button id="nextPage" class="btn btn-outline-dark"><i class="fas fa-arrow-right"></i></button>
                        <button id="lastPage" class="btn btn-outline-dark"><i class="fas fa-step-forward"></i></button>
                    </div>
                   <div>
                        <span id="pagination-total" style="display: none;"><%=total%></span>
                        <span id="pagination-footnote"></span>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('partials/footer'); -%>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="scripts/search.js"></script>
</body>
</html>