<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booky Search</title>
</head>

<body>
    <h1>Booky Contacts</h1>

    <div class="contents">
        <div class="filters">
            <h3>Filter By</h3>
            <input type="text">
            <div class="sex">
                <input type="checkbox">Male</input>
                <input type="checkbox">Female</input>
            </div>
            <div class="age">
                <input type="range" name="" min="" max="">
            </div>
            <form>
                <button id="filterBtn" class="filterBtn">Filter</button>
                <button id="downloadFilter" class="downloadFilter">Download</button>
            </form>
        </div>

        <!-- Find all data in database and display in the div -->
        <div class="filterResults">
            <h3>Filtered Results</h3>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Sex</th>
                    <th>Age</th>
                </tr>
                <%contact.forEach(function(query){ %>
                    <tr>
                        <td><%= query.fName %></td>
                        <td><%= query.lName %></td>
                        <td><%= query.email %></td>
                        <td><%= query.phoneNum %></td>
                        <td><%= query.sex %></td>
                        <td><%= query.age %></td>
                    </tr>
                    <% }); %>
            </table>
        </div>
    </div>
</body>

</html>